* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    border: 1px solid rgba(0, 0, 0, 0.247);
    margin-left: 4em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo parte de header Home */
.cont-header {
    width: calc(100% + 4em);
    margin-left: -4em;
    border-bottom: 1px solid #000;
    padding-left: 2em;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.nav-comun {}

.nav-comun a {
    text-decoration: none;
    color: black;

}

.nav-left {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.logo img {
    width: 5em;
    margin-top: 0.5em;
}

.nav-right {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.box-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.img-arc {
    border: 1px solid palevioletred;
}

.btn {
    padding: 2.5em;
    background-image: url('/assets/images/post.png');
    background-size: cover;
    /* ajusta la imagen al contenedor */
    background-position: center;
    /* centra la imagen */
    background-repeat: no-repeat;
    /* evita que se repita */
}

.img-arc img {
    width: 50em;
}

.box-four {
    width: 50%;
    border: 1px solid rgb(92, 47, 255);
    font-size: 20em;
    margin-top: 0.3em;
    text-align: center;

}

.box-about {
    margin-left: -4em;
    border-bottom: 1px solid #14a834;
}

.box-img-tex {
    display: flex;
    align-items: center;
}

.tex-about {
    text-align: center;
    padding: 0.5em;
}

.notebook {
    width: 40em;
}

.box-note {}

.folder {
    width: 35em;
}

.box-proye {
    margin-left: -4em;
    border-bottom: 1px solid #000000;
    background-color: aliceblue;
}

.box-serv{
    margin-left: -4em;
    border-bottom: 1px solid #000000;
}


.box-carp {
    display: flex;
    justify-content: space-around;
}

.tex-proye {
    text-align: center;
    padding: 0.5em;
}

.title-contac {
    font-size: 9rem;
    text-align: center;
}

.form {
    border: 1px solid red;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto-introduccion {
    text-align: center;
    padding: 40px 20px;
    background-color: #4b5563a2;
    margin-bottom: 40px;
}

.contacto-introduccion h2 {
    font-size: 2rem;
    color: #ffffff;
}

.contacto-introduccion p {
    font-size: 1.2rem;
    color: #7f8c8d;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.contacto-formulario {
    margin-left: -4em;
    border-bottom: 1px solid #000000;
    padding: 40px 20px;
    max-width: 110em;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contacto-formulario h3 {
    font-size: 5rem;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.contacto-formulario form div {
    margin-bottom: 20px;
}

.contacto-formulario label {
    display: block;
    font-size: 1.1rem;
    color: #2c3e50;
    margin-bottom: 8px;
}

.contacto-formulario input,
.contacto-formulario textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contacto-formulario button {
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.contacto-formulario button:hover {
    background-color: #2980b9;
}

.contacto-ubicacion {
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 2em;
}

.contacto-ubicacion iframe {
    max-width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}