* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* Desplazamiento suave en toda la página */
}

/*Contenedor Principal */
.contenedor {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #e9e5e2;
}

/* Menú Lateral Derecho (Nuevo) */
.menu-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    padding: 0.5em;
    background: #c5c5c5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav-pestanas {
    list-style: none;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: #c5c5c5;
    box-shadow:
    4px 4px 8px #6c7f86,
    -4px -4px 8px #ffffff,
    inset 1px 1px 3px rgba(255, 255, 255, 0.2),
    inset -1px -1px 3px rgba(0, 0, 0, 0.1);
}

.nav-pestanas .btn {
    background: #c5c5c5;
    border-radius: 0 12px 12px 0;
    /* border: none; */
    /* Forma de carpeta */
    /* clip-path: polygon(0% 10%,
            15% 0%,
            100% 0%,
            100% 90%,
            85% 100%,
            0% 100%); */
    /* Texto vertical */
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
    4px 4px 8px #6c7f86,
    -4px -4px 8px #ffffff,
    inset 1px 1px 3px rgba(255, 255, 255, 0.2),
    inset -1px -1px 3px rgba(0, 0, 0, 0.1);
    /* Transición */
    cursor: pointer;
    position: relative;
}

.nav-pestanas .btn a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 1em; 
}

/* Efecto hover neumórfico */
.nav-pestanas .btn:hover {
    background: #bcc1c4;
    box-shadow:
        4px 4px 8px #6c7f86,
        -4px -4px 8px #ffffff,
        inset 1px 1px 3px rgba(255, 255, 255, 0.2),
        inset -1px -1px 3px rgba(0, 0, 0, 0.1);
    color: #2c3a40;
    padding: 0.5em;
}

/* Home Principal ---------------------------------------- */
/* Contenido Principal - Ajuste para el menú lateral */
.contenido-principal {
    margin-left: 69px;
}

.contenedor-header {
    background-color: #b9a329;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/* Estilo base para todos los iconos */
.icono {
    position: absolute;
    left: 47.8%;  
    z-index: 10; 
    font-size: 1.5em; 
    pointer-events: none; 
    background: #bcc1c4;
    box-shadow:
    4px 4px 8px #6c7f86,
    -4px -4px 8px #ffffff,
    inset 1px 1px 3px rgba(255, 255, 255, 0.2),
    inset -1px -1px 3px rgba(0, 0, 0, 0.1);
}

.iconos{
    position: absolute;
    left: 60.3%;  
    z-index: 10; 
    font-size: 1.5em; 
    pointer-events: none; 
    background: #bcc1c4;
    box-shadow:
    4px 4px 8px #6c7f86,
    -4px -4px 8px #ffffff,
    inset 1px 1px 3px rgba(255, 255, 255, 0.2),
    inset -1px -1px 3px rgba(0, 0, 0, 0.1);
}

/* Posicionamiento individual */
.icono1 { top: 71px; }   /* Icono de Home */
.icono2 { top: 188px; }  /* Icono de Sobre mí */
.icono3 { top: 296px; }  /* Icono de Proyectos */
.icono4 { top: 421px; }  /* Icono de Servicios */
.icono5 { top: 538px; }  /* Icono de Contacto */

.cont-header {
    width: 100%;
    background-color: #bcc1c4;
}

.menu-lateral-2 {
    position: relative;
    width: 100%;
    list-style: none; 
}

.nav-pestanas-2{
    padding: 2em;
}

.cont-archivador{
    width: 38em;
    background-color: #bcc1c4;
    position: relative;
    top:-1px;
    left: 621px;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 1.4em;
}

.nav-pestanas-2 .btn {
    position: absolute;
    left: 44.1%;
    background: #bcc1c4;
    box-shadow:
    4px 4px 8px #6c7f86,
    -4px -4px 8px #ffffff,
    inset 1px 1px 3px rgba(255, 255, 255, 0.2),
    inset -1px -1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
    width: 6em;
    font-family: cursive;
}

.btnpr{
    position: absolute;
    left: 57.1%;
    background: #bcc1c4;
    box-shadow:
    4px 4px 8px #6c7f86,
    -4px -4px 8px #ffffff,
    inset 1px 1px 3px rgba(255, 255, 255, 0.2),
    inset -1px -1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
    width: 6em;
    font-family: cursive;
}

.btnpr a{
    text-decoration: none;
    color: #1e2a30;
}
.nav-pestanas-2 .btn a{
    text-decoration: none;
    color: #1e2a30;
}

.btn1 { top: 129px; } /*Boton Home*/
.btn2 { top: 245px; } /*Boton Sobre mí*/
.btn3 { top: 355px; } /*Boton Proyectos*/
.btn4 { top: 482px; } /*Boton Servicios*/
.btn5 { top: 599px; } /*Boton Contacto*/

.nav-pestanas-2 .btn:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

ul.nav-pestanas-2 {
    list-style: none !important;
}

/* Sobre mí ------------------------------------------------------------------ */
.box-about {
    width: 100%;
    padding: 2em;
    background-color: #bcc1c4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.tex-about {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
    font-family: cursive;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.box-img-tex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4em;
}

.box-note {
    width: 35em;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 1em;
}

.notebook {
    margin-left: 1em;
    border-radius: 1em;
    width: 30em;
}

.box-tex {
    width: 25em;
    padding: 2em;
    background: #c5c5c5;
    font-family: cursive;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/* Mis Proyectos ------------------------------------------------------------------ */
.box-proye {
    width: 100%;
    padding: 2em;
    background-color: #bcc1c4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.tex-proye {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 5em;
    font-family: cursive;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.box-carp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.folder {
    width: 25em;
    padding: 1em;
    background:  #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/* Mis Servicios ------------------------------------------------------------------ */
.box-serv {
    width: 100%;
    padding: 2em;
    background-color: #bcc1c4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.tex-serv {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 3em;
    font-family: cursive;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.img-serv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.interfaz {
    width: 25em;
    padding: 1em;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/* Contacto ------------------------------------------------------------------ */
.contacto-formulario {
    margin: auto;
    padding: 5em;
    background-color: #bcc1c4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    margin-bottom: 2em;
}

.tar-contac {
    width: 100%;
    padding: 2em;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    font-family: cursive;
}

.contacto-text h3 {
    font-size: 5rem;
    color: black;
    padding: 0.0em;
    text-align: center;
    
}

.form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-name {
    display: flex;
    font-size: 1rem;
    padding: 0.2em;
    margin-bottom: 8px;
}

.box-email {
    font-size: 1rem;
    padding: 0.2em;
    margin-bottom: 0.7em;
    display: flex;
}
.box-name input {
    margin-left: 2.2em;
    width: 100%;
    background: #f5f4f4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.box-email input {
    width: 100%;
    margin-left: 0.5em;
    background: #f5f4f4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.box-texta {
    display: flex;
}

.box-texta textarea {
    width: 50%;
    background: #f5f4f4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.contacto-formulario button {
    width: 50%;
    background-color: #bcc1c4;
    box-shadow:
    4px 4px 8px #6c7f86,
    -4px -4px 8px #ffffff,
    inset 1px 1px 3px rgba(255, 255, 255, 0.2),
    inset -1px -1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto-formulario button:hover {
    background-color: #abb1b6;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;

}

/*Pagina Footer */
.box-footer {
    display: flex;
    background-color:#8c8c8c;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 3em;
    justify-content: space-evenly;
}

.cont-name {
    border-right: 2px solid white;
    padding-right: 1em;
    display: flex;
    align-items: center;
    font-family: cursive;    
}

.box-list {
    font-family: cursive;
}

.list {
    width: 25em;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.copy a {
    color: #5b5454;
    text-decoration: none;
}

.cont-izq p{
    font-family: cursive;
}

.cont-icons {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 0.2em;
    background-color:#bcc1c4;
}

.box-ico {
    width: 2em;
}

hr {
    border-bottom: 1px solid #abaa9e5d;
    margin-left: -4em;
}

/* Ajustes Responsivos */
@media (max-width: 768px) {
    .menu-lateral {
        width: 100%;
        position: static;
        transform: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .nav-pestanas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-pestanas .btn {
        border-radius: 5px;
        border-right: 1px solid #ddd;
        margin: 5px;
        text-align: center;
    }

    .contenido-principal {
        width: 100%;
        margin-left: 0;
    }
}