* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* Desplazamiento suave en toda la página */
}

/*Contenedor Principal */
.contenedor {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #e9e5e2;
    border: 5px solid blue;
}

/* Menú Lateral Derecho (Nuevo) */
.menu-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.3125rem; /* 5px */
    padding: 0.5em;
    background: #c5c5c5;
    box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1); /* 2px 0 5px */
   
}

.nav-pestanas {
    list-style: none;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px */
    background: #c5c5c5;
    box-shadow:
    0.25rem 0.25rem 0.5rem #6c7f86, /* 4px */
    -0.25rem -0.25rem 0.5rem #ffffff,
    inset 0.0625rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.2), /* 1px */
    inset -0.0625rem -0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
}

.nav-pestanas .btn {
    background: #c5c5c5;
    border-radius: 0 0.75rem 0.75rem 0; /* 12px */
    width: 2.8125rem; /* 45px */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
    0.25rem 0.25rem 0.5rem #6c7f86,
    -0.25rem -0.25rem 0.5rem #ffffff,
    inset 0.0625rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.2),
    inset -0.0625rem -0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}

.nav-pestanas .btn a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 1em; 
}

.nav-pestanas .btn:hover {
    background: #bcc1c4;
    box-shadow: inset 0.125rem 0.125rem 0.3125rem #bcbcbc, /* 2px */
                inset -0.125rem -0.125rem 0.3125rem #ffffff,
                0.125rem 0.125rem 0.3125rem #bcbcbc,
                -0.125rem -0.125rem 0.3125rem #ffffff;
    color: #2c3a40;
}

/* Home Principal ---------------------------------------- */
.contenido-principal {
    margin-left: 4.3125rem; /* 69px */
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5%; 
    background-color: rgb(184, 197, 196);
}

.texto-lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%; 
    font-family: 'Arial', sans-serif;
    color: #2E3A40; 
    z-index: 1;
}

.texto-izquierdo {
    text-align: right;
    padding-right: 1.875rem; /* 30px */
}

.texto-derecho {
    text-align: left;
    padding-left: 1.875rem; /* 30px */
}

.texto-lateral span {
    font-size: 2.5rem; 
    font-weight: bold;
    line-height: 1.2; 
    text-align: center;
    text-transform: uppercase; 
}

.icono {
    position: absolute;
    left: 44.3%;  
    z-index: 10; 
    font-size: 1.5rem; 
    pointer-events: none; 
    background: #bcc1c4;
    box-shadow:
    0.25rem 0.25rem 0.5rem #6c7f86,
    -0.25rem -0.25rem 0.5rem #ffffff,
    inset 0.0625rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.2),
    inset -0.0625rem -0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
}

.iconos {
    position: absolute;
    left: 57.2%;  
    z-index: 10; 
    font-size: 1.5rem; 
    pointer-events: none; 
    background: #bcc1c4;
    box-shadow:
    0.25rem 0.25rem 0.5rem #6c7f86,
    -0.25rem -0.25rem 0.5rem #ffffff,
    inset 0.0625rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.2),
    inset -0.0625rem -0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
}

.icono1 { top: 4.4375rem; }   /* 71px */
.icono2 { top: 11.75rem; }    /* 188px */
.icono3 { top: 18.5rem; }     /* 296px */
.icono4 { top: 26.4375rem; }  /* 423px */
.icono5 { top: 33.625rem; }   /* 538px */

.cont-header {
    width: 41%;
    background-color: #bcc1c4;
}

.menu-lateral-2 {
    position: relative;
    width: 100%;
    list-style: none; 
}

.nav-pestanas-2 {
    padding: 2em;
}

.cont-archivador {
    width: 38em;
    background-color: #bcc1c4;
    position: relative;
    top: -0.0625rem; /* -1px */
    left: 1.125rem; /* 18px */
    box-shadow:
    0.375rem 0.375rem 0.625rem -0.0625rem rgba(0, 0, 0, 0.15), /* 6px */
    -0.375rem -0.375rem 0.625rem -0.0625rem rgba(255, 255, 255, 0.7);
    padding: 1.4em;
}

.nav-pestanas-2 .btn {
    position: absolute;
    left: 30.2%;
    background: #bcc1c4;
    box-shadow:
    0.25rem 0.25rem 0.5rem #6c7f86,
    -0.25rem -0.25rem 0.5rem #ffffff,
    inset 0.0625rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.2),
    inset -0.0625rem -0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
    width: 6em;
    font-family: cursive;
}

.btnpr {
    position: absolute;
    left: 64.9%;
    background: #bcc1c4;
    box-shadow:
    0.25rem 0.25rem 0.5rem #6c7f86,
    -0.25rem -0.25rem 0.5rem #ffffff,
    inset 0.0625rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.2),
    inset -0.0625rem -0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
    width: 6em;
    font-family: cursive;
}

.btnpr a {
    text-decoration: none;
    color: #1e2a30;
}

.nav-pestanas-2 .btnpr:hover {
    box-shadow: inset 0.125rem 0.125rem 0.3125rem #bcbcbc, 
                inset -0.125rem -0.125rem 0.3125rem #ffffff, 
                0.125rem 0.125rem 0.3125rem #bcbcbc, 
                -0.125rem -0.125rem 0.3125rem #ffffff;
}

.nav-pestanas-2 .btn a {
    text-decoration: none;
    color: #1e2a30;
}

.btn1 { top: 8.0625rem; } /* 129px - Boton Home */
.btn2 { top: 15.3125rem; } /* 245px - Boton Sobre mí */
.btn3 { top: 22.1875rem; } /* 355px - Boton Proyectos */
.btn4 { top: 30.125rem; } /* 482px - Boton Servicios */
.btn5 { top: 37.4375rem; } /* 599px - Boton Contacto */

.nav-pestanas-2 .btn:hover {
    box-shadow: inset 0.125rem 0.125rem 0.3125rem #bcbcbc,
                inset -0.125rem -0.125rem 0.3125rem #ffffff,
                0.125rem 0.125rem 0.3125rem #bcbcbc,
                -0.125rem -0.125rem 0.3125rem #ffffff;
}

ul.nav-pestanas-2 {
    list-style: none !important;
}

/* Media Queries para móvil (max-width: 768px) */
@media (max-width: 48rem) { /* 768px */
    .menu-lateral {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0.3125rem; /* 5px */
        /* padding: 0.5em; */
        background: #c5c5c5;
        box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1); /* 2px 0 5px */
        
        z-index: 20;
    }
    
    .nav-pestanas .btn a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        /* padding: 1em;  */
    }
    
    .nav-pestanas .btn {
        background: #c5c5c5;
        border-radius: 0 0.75rem 0.75rem 0; /* 12px */
        /* width: 2.6000rem;  */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:
        0.25rem 0.25rem 0.5rem #6c7f86,
        -0.25rem -0.25rem 0.5rem #ffffff,
        inset 0.0625rem 0.0625rem 0.1875rem rgba(255, 255, 255, 0.2),
        inset -0.0625rem -0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
        position: relative;
    }
    
    .contenido-principal {
        margin-left: 0;
        padding: 0 1rem;
    }
    
    .contenedor-header {
        flex-direction: column;
        padding: 1rem;
    }
    
    .texto-lateral {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    .texto-izquierdo, .texto-derecho {
        text-align: center;
        padding: 0;
        margin-bottom: 1rem;
    }
    
    .texto-lateral span {
        font-size: 1.5rem;
    }
    
    .icono, .iconos {
        position: relative;
        left: auto;
        margin: 0.5rem auto;
        display: block;
    }
    
    .icono1, .icono2, .icono3, .icono4, .icono5 {
        top: auto;
    }
    
    .cont-header {
        width: 100%;
    }
    
    .cont-archivador {
        width: 100%;
        left: 0;
        margin-top: 1rem;
        box-sizing: border-box;
    }
    
    .nav-pestanas-2 .btn, .btnpr {
        position: relative;
        left: auto;
        top: auto;
        margin: 0.5rem auto;
        display: block;
        width: 80%;
    }
    
    .btn1, .btn2, .btn3, .btn4, .btn5 {
        top: auto;
    }
}




/* Sobre mí ------------------------------------------------------------------ */
.box-about {
    width: 100%;
    padding: 2em;
    background-color: #bcc1c4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.tex-about {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
    font-family: cursive;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.box-img-tex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4em;
}

.box-note {
    width: 35em;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 1em;
}

.notebook {
    margin-left: 1em;
    border-radius: 1em;
    width: 30em;
}

.box-tex {
    width: 25em;
    padding: 2em;
    background: #c5c5c5;
    font-family: cursive;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/* Mis Proyectos ------------------------------------------------------------------ */
.box-proye {
    width: 100%;
    padding: 2em;
    background-color: #bcc1c4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.tex-proye {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 5em;
    font-family: cursive;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.box-carp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.folder {
    width: 25em;
    padding: 1em;
    background:  #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/* Mis Servicios ------------------------------------------------------------------ */
.box-serv {
    width: 100%;
    padding: 2em;
    background-color: #bcc1c4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.tex-serv {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 3em;
    font-family: cursive;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.img-serv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.interfaz {
    width: 25em;
    padding: 1em;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/* Contacto ------------------------------------------------------------------ */
.contacto-formulario {
    margin: auto;
    padding: 5em;
    background-color: #bcc1c4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    margin-bottom: 2em;
}

.tar-contac {
    width: 100%;
    padding: 2em;
    background: #c5c5c5;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    font-family: cursive;
}

.contacto-text h3 {
    font-size: 5rem;
    color: black;
    padding: 0.0em;
    text-align: center;
    
}

.form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-name {
    display: flex;
    font-size: 1rem;
    padding: 0.2em;
    margin-bottom: 8px;
}

.box-email {
    font-size: 1rem;
    padding: 0.2em;
    margin-bottom: 0.7em;
    display: flex;
}
.box-name input {
    margin-left: 2.2em;
    width: 100%;
    background: #f5f4f4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.box-email input {
    width: 100%;
    margin-left: 0.5em;
    background: #f5f4f4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.box-texta {
    display: flex;
}

.box-texta textarea {
    width: 50%;
    background: #f5f4f4;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.contacto-formulario button {
    width: 50%;
    background-color: #bcc1c4;
    box-shadow:
    4px 4px 8px #6c7f86,
    -4px -4px 8px #ffffff,
    inset 1px 1px 3px rgba(255, 255, 255, 0.2),
    inset -1px -1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto-formulario button:hover {
    background-color: #abb1b6;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;

}

/*Pagina Footer */
.box-footer {
    display: flex;
    background-color:#8c8c8c;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 3em;
    justify-content: space-evenly;
}

.cont-name {
    border-right: 2px solid white;
    padding-right: 1em;
    display: flex;
    align-items: center;
    font-family: cursive;    
}

.box-list {
    font-family: cursive;
}

.list {
    width: 25em;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.copy a {
    color: #5b5454;
    text-decoration: none;
}

.cont-izq p{
    font-family: cursive;
}

.cont-icons {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-shadow:
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 0.2em;
    background-color:#bcc1c4;
}

.box-ico {
    width: 2em;
}

hr {
    border-bottom: 1px solid #abaa9e5d;
    margin-left: -4em;
}

/* Ajustes Responsivos */
/* @media (max-width: 768px) {
    .menu-lateral {
        width: 100%;
        position: static;
        transform: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .nav-pestanas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-pestanas .btn {
        border-radius: 5px;
        border-right: 1px solid #ddd;
        margin: 5px;
        text-align: center;
    }

    .contenido-principal {
        width: 100%;
        margin-left: 0;
    }
} */